---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Bachelor - Game Programming"
        subtitle="2021 to 2024 at SAE-Institute, Geneva, Switzerland"
      >
        <ul class="list-disc mx-6">
          <li>Game creation (Unity, Unreal, C++, C#, Python)</li>
          <li>Physics Programming</li>
          <li>Networking</li>
          <li>Optimisation</li>
          <li>Graphics Programming (GLSL, HLSL, Divers nodal systems)</li>
          <li>Source control (Git, Perforce)</li>
          <li>Game Production (SCRUM methodology, Trello, Miro)</li>
          <li>Web Development (HTML, CSS, SQL)</li>
          <li>Video compositing (Adode After Effect)</li>
        </ul>
      </TimeLineElement>
      <TimeLineElement
        title="Federal Diploma of Higher Education - Diagnostician"
        subtitle="2019 to 2020 at UPSA-VD, Yverdon-les-Bain, Switzerland"
      >
        <ul class="list-disc mx-6">
          <li>Advanced Electronics</li>
          <li>Embeded Systems</li>
          <li>Advanced Physics</li>
          <li>Client relationship & managment</li>
          <li>Team managment</li>
        </ul>
      </TimeLineElement>
      <TimeLineElement
        title="Federal Capacity Certification (CFC) - Mecatronics"
        subtitle="2014 to 2019 at EPSIC, Lausanne, Switzerland"
      >
        <ul class="list-disc mx-6">
          <li>Mecanics</li>
          <li>Electronics</li>
          <li>Physics</li>
          <li>Chemistry Bases</li>
        </ul>
      </TimeLineElement>
      <TimeLineElement
        title="Gymnasium Diploma - Economics, Commerce, Marketing and Law"
        subtitle="2009 to 2013 at Gymnase de la Cité, Provence & Bugnon, Lausanne, Switzerland"
      >
        <ul class="list-disc mx-6">
          <li>Accounting</li>
          <li>Marketing</li>
          <li>Law</li>
          <li>Office Suite</li>
          <li>Excels advanced programming</li>
          <li>Italian</li>
        </ul>
      </TimeLineElement>
      <TimeLineElement
        title="Secondary Certificate - General"
        subtitle="2004 to 2009 at Isabelle-de-Montolieu, Lausanne, Switzerland"
      />
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Head of Programming"
        subtitle="From 2022 to Today at Styles Studio, Lausanne, Switzerland"
      >
        In early 2022, the imperative to establish a legally verified company
        for the purpose of securing various contracts led my brother, a few
        colleagues, and myself to initiate the formation of Styles Studio SàRL.
        Since its inception, I have assumed the position of Head of Programming,
        taking charge of all responsibilities associated with the role. This
        includes tasks such as server and tool setup, code review, technical
        problem resolution, and continual improvement of our development
        pipeline.
      </TimeLineElement>
      <TimeLineElement
        title="Game Programmer"
        subtitle="From 2021 to Mai 2021 at Dama Dama Games, Lausanne, Switzerland"
      >
        In 2021, I had the opportunity to start my carrear as a game developper
        by co-founding Dama Dama Games, a Swiss indie game studio. <br />
         During that time, I applied my commerical knowledge and discovered game
        development in Unity. A short moment after I started my bachelor's
        degree at the SAE-Institute, reason for which I stopped working at Dama
        Dama Games.
      </TimeLineElement>
      <TimeLineElement
        title="Mecatronics Engineer"
        subtitle="From 2020 to 2021 at MAN Truck & Bus, Bussigny, Switzerland"
      >
        During my work as a receptionist, I was presented with an opportunity to
        join a competing company as a Mechatronics engineer. In this role, I
        effectively applied my acquired knowledge to carry out tasks with
        efficiency and precision and had the opportunity to start a Federal
        Diploma of Higher Education in mecatronics engineering in parallel<br />
         In addition to my primary responsibilities, I took on the role of
        overseeing Mechanics and Mechatronics apprentices. This experience not
        only improved my communication skills but also gave me the chance to
        share my passion and knowledge with aspiring students in the field.
      </TimeLineElement>
      <TimeLineElement
        title="Receptionist"
        subtitle="From August 2018 to 2019 at LARAG SA, Echandens, Switzerland"
      >
        Once my training was done, I briefly took on a role in the client
        reception sector due to being recognized as a person with good
        communication skills and language proficiency. <br />
         In this position, I had the opportunity to enhance my social skills and
        proved to be highly valuable. It was during this time that I discovered
        my aptitude for human interaction receiving positive feedback from my
        superiors.
      </TimeLineElement>
      <TimeLineElement
        title="Mecatronics Apprentice"
        subtitle="From 2014 to 2019 at LARAG SA, Echandens, Switzerland"
      >
        After completing my studies and gaining experience in the commercial
        sector, I decided to transition to a new field and began training in
        Mechatronics. <br />
         Throughout this period, I immersed myself in various disciplines,
        including mechanics, electronics, electricity, physics, and chemistry. I
        learned the intricacies of vehicle maintenance, from routine tasks to
        the repair of engines and complex systems.
      </TimeLineElement>
      <TimeLineElement
        title="Diverse IT & commercial work experiences"
        subtitle="From 2008 to 2014, Switzerland & England"
      >
        Throughout my school years, I explored various work environments
        tailored to our individual preferences. Initially drawn to the field of
        IT, I delved into the realm of computers through multiple work
        experiences before eventually transitioning to a commercial domain. In
        this sector, I predominantly engaged in administrative roles in both
        Switzerland and England.
      </TimeLineElement>
    </div>

    <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>C++</li>
      <li>C#</li>
      <li>Python</li>
      <li>x86_63 ASM</li>
      <li>SIMD</li>
      <li>Unity</li>
      <li>Shader Graph</li>
      <li>Unreal Engine</li>
      <li>Material System</li>
      <li>HLSL</li>
      <li>GLSL</li>
      <li>OpenGL</li>
      <li>DirectX 12</li>
      <li>Git</li>
      <li>Perforce</li>
      <li>Trello</li>
      <li>Miro</li>
      <li>Adobe After Effect</li>
      <li>Office Suite</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>SQL</li>
    </ul>
     &nbsp;
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Languages</div>
    </div>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>French (Native)</li>
      <li>English (Native)</li>
      <li>Italian (B1)</li>
      <li>German <br />(basic knowledge)</li>
    </ul>
  </div>
</BaseLayout>
