---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Bachelor - Game Art"
        subtitle="2021 to 2024 at SAE-Institute, Geneva, Switzerland"
      >
      <ul class="list-disc mx-6">
        <li>Research</li>
        <li>Elaboration of papers</li>
        <li>3D concept specialisation </li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Diploma - Game Art & 3D Animation"
        subtitle="2021 to 2023 SAE Institute, date of award 04.10.2023"
      >
      <ul class="list-disc mx-6">
        <li>3D fundamentals</li>
        <li>Polygonal modeling</li>
        <li>UV mapping </li>
        <li>Retopology</li>
        <li>Game ready optimisation</li>
        <li>2D fundamentals</li>
      </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Diploma - Streetdance"
        subtitle="2008 to 2009 to 2019 at DMaster, Lausanne, Switzerland"
      >
      </TimeLineElement>

      <TimeLineElement
        title="Dancer certification - Teacher"
        subtitle="2007 to 2009 at DMaster, Lausanne, Switzerland"
      >
        <ul class="list-disc mx-6">
          <li>Popping</li>
          <li>Locking</li>
          <li>Hip-Hop</li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Certification - Advanced Office suite"
        subtitle="2015, 126 hours, Proactif, Aigle, Switzerland">
      <ul class="list-disc mx-6">
        <li>Word</li>
        <li>Excel</li>
        <li>Powerpoint</li>
        <li>Outlook</li>
      </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Diploma - Anatomy knowledge"
        subtitle="2009, S. Duflon qualified Physiotherapist, Lausanne, Switzerland">
      <ul class="list-disc mx-6">
        <li>Skeleton</li>
        <li>Muscles</li>
        <li>Articulation</li>
      </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Theater lessons"
        subtitle="2004 to 2008 at Teatro Comico, Sion, Switzerland"
      >
      <ul class="list-disc mx-6">
        <li>Public speaking</li>
        <li>Acting techniques</li>
        <li>Improvisation</li>
        <li>Team collaboration</li>
        <li>Performance adjusting</li>
        <li>Stage knowledge</li>
        <li>Backstage operations</li>
      </ul>
      </TimeLineElement>
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Technical Experience</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Product Owner & Concept artist"
        subtitle="2023 at SAE, Geneva, Switzerland"
      > 
      <ul class="list-disc mx-6">
      <li>Creation & defining product vision</li>
      <li>Prioritizing product backlog for the artists</li>
      <li>User Story creation in collaboration with the producer</li>
      <li>Engaging with team & supervisors</li>
      <li>Setting sprint goals</li>
      <li>Decision making ; features & priority</li>
      <li>Continous refinement</li>
      </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Client service manager"
        subtitle="From 2017 until today at Intrum SA, Lausanne, Switzerland"
      >
      <ul class="list-disc mx-6">
      <li>Client relationship management </li>
      <li>Team communication</li>
      <li>Project & daily business management</li>
      <li>Cross- and Upselling</li>
      <li>Reporting & analytics</li>
      <li>Intern & extern training</li>
      <li>Debt verification</li>
      <li>Performance management</li>
      <li>Credit check</li>
      <li>Salesforce</li>
      <li>Qlikview</li>
      <li>Recash</li>
      </ul>
      </TimeLineElement>
      
      <TimeLineElement
        title="Event assistant"
        subtitle="From 2015 to 2016, Vevey, Switzerland"
      >
      <ul class="list-disc mx-6">
      <li>Administrative support</li>
      <li>Translation DE - FR / FR - DE / FR - ENG / DE - ENG</li>
      <li>Team collaboration</li>
      <li>On-site support</li>
      <li>Pre-Event planning</li>
      </ul>
      </TimeLineElement>

      <TimeLineElement
      title="Visual merchandising"
      subtitle="From 2008 to 2014, Adidas, Switzerland"
    >
    <ul class="list-disc mx-6">
    <li>Store layout</li>
    <li>Inventory management </li>
    <li>Collaboration with Cross-functional teams</li>
    <li>Visual standards adherence</li>
    <li>Performance analysis</li>
    <li>Cashier support</li>
    <li>Manager support</li>
    <li>Meeting translation DE - FR / ENG - FR</li>
    </ul>
    </TimeLineElement>
    </div>


    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Artistic Experience</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">


      <TimeLineElement
        title="Tattoo artist, freelance"
        subtitle="From 2019 until today at Splendid Studio, Buchillon, Switzerland"
      >
      <li>Dotwork</li>
      <li>Fineline</li>
      </TimeLineElement>

      <TimeLineElement
        title="Radio speaker"
        subtitle="From August 2021 until today at RedLine radio, Lausanne, Switzerland"
      >
      <ul class="list-disc mx-6">
      <li>Show co-creator "La Citadelle"</li>
      <li>Host</li>
      <li>Chronicling</li>
      <li>Live translation DE - FR </li>
    </ul>
      </TimeLineElement>

      <TimeLineElement
      title="Dance muscle strenthening & teacher"
      subtitle="From 2012 to 2015, Neptune, Vevey, Switzerland"
    >
    </TimeLineElement>
  
    <TimeLineElement
    title="Dancer"
    subtitle="From 2008 to 2019"
  >
  <ul class="list-disc mx-6">
  <li>Hip-Hop International, 3th place, 2018, CH</li>
  <li>Hip-Hop introductory course, 2018, Ecole primaire Vouvry, CH </li>
  <li>Choreograph Sephora event Manor, 2018, Vevey, CH</li>
  <li>Revue de Corseaux, 2016, Corseaux, CH </li>
  <li>Stop Suicide, Video prevention, producer, co-writer, 2016, Genève, CH</li>
  <li>Fête de la danse, 2016, Vevey, CH</li>
  <li>Stop Suicide & HUG, Colloque universitaire, 2016, Genève, CH</li>
  <li>Representation as a mime "Les anges d'Angeline", 2015</li>
  <li>Weekly sport session, dance teacher, Monte Rosa, 2015, Montreux, CH</li>
  <li>Fête de la danse, 2015, Vevey, CH</li>
  <li>Bénédicte, Swiss singer, 2015, CH</li>
  <li>Duo with Swiss All styler, Mamadou Kalombo, 2015, Vevey theater, CH</li>
  <li>Privat teacher, fundamentals, 2014, Renens, CH</li>
  <li>Revue de Corseaux, 2014, Corseaux, CH</li>
  <li>Privat teacher, fundamentals, 2013, Vevey, CH</li>
  <li>Fashion show, 2013, Montreux, CH</li>
  <li>Battlehanics semi-finalist, 2011, DK</li>
  <li>Official Adidas dancer, 2011, CH</li>
  <li>Official Reebok dancer, 2011, CH</li>
  <li>Official Adidas dancer, 2010, CH</li>
  <li>Championship group winner, Brigitte Augeline, David Colas, 2010, Marseille, FR</li>
  </ul>
  </TimeLineElement>
    </div>


    <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>3DS Max</li>
      <li>Maya (UV/Retopology)</li>
      <li>Zbrush</li>
      <li>Substance Painter</li>
      <li>Adobe Photoshop</li>
      <li>Marmoset Toolbag</li>
      <li>Unreal Engine <br>(Basic knowledge)</li>
    </ul>
     &nbsp;
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Languages</div>
    </div>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>German <br>(Native)</li>
      <li>Swiss-German (Native)</li>
      <li>French <br> (Native)</li>
      <li>English <br>(Fluent)</li>
      <li>Italian <br />(Basic knowledge)</li>
    </ul>
  </div>
</BaseLayout>
